extends layout

block content
  h1 Update Book
  
  if errors
    h2.error Oooops! Something went wrong.
    ul.error
      each error in errors
        li= error.message
  
  form(action=`/books/${book.id}` method="POST")
    p
      label(for='title') Title
      input#title(name='title' type='text' value=book.title)
    p
      label(for='author') Author
      input#author(name='author' type='text' value=book.author)
    p
      label(for='genre') Genre
      input#genre(name='genre' type='text' value=book.genre)
    p
      label(for='year') Year
      input#year(name='year' type='number' value=book.year)
    p
      input(type='submit' value='Update Book')
  
    p
      a.button(href='/books') Cancel
    //delete button
  form(action=`/books/${book.id}/delete` method="POST" onsubmit="return confirm('Are you sure you want to delete this book?');") 
    input(type='submit' value='Delete Book')